body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    background-color: #aa43a2;
    padding: 30px 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fec830;
}
.header-link {
    color: black;
    font-size: 18px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14) 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.header-list {
    display: flex;
    gap: 20px;
    align-items: center;
}
main {
    background-color: #fdd875;
    padding-top: 80px;
    padding-bottom: 80px;
}
.hero-wrap {
    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid gray;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14) 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}
.hero-title {
    font-size: 40px;
    text-align: center;
}
.hero-news {
    background-color: white;
    padding: 30px;
    margin-top: 50px;
    border: 1px solid gray;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14) 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px;

}